src/main/mule/post-cases.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	 <flow name="post:\cases:application\json:covid-project-config">
        <logger level="INFO" doc:name="Logger" doc:id="d3aafe29-ebac-4310-9184-6a5ba15ee3f9" message="logging incoming  payload ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="d43d7e60-a88d-4e23-8476-968e16ad930c" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="incoming" ><![CDATA[%dw 2.0
var currentDate = now() as String { format: "yyyy-MM-dd" }
output application/json
---
{
	case_id: randomInt(100),
	source: payload.source,
	case_type: payload.caseType,
	first_name: payload.firstName,
	last_name: payload.lastName,
	phone: payload.phone,
	email: payload.email,
	date_of_birth: payload.dateOfBirth as String {
		format: "yyyy-MM-dd"
	},
	national_id: payload.nationalID,
	national_id_type: payload.nationalIDType,
	street_address: payload.address.streetAddress,
	city: payload.address.city,
	state: upper(payload.address.state),
	postal: payload.address.postal,
	country: payload.address.country,
	create_date: currentDate,
	update_date: currentDate,
	create_by: "UHIS",
	update_by: "UHIS"
	
	
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="0d5fb017-841e-4d72-aa72-dea2dc5d80cc" name="create-cases-flowsSub_Flow"/>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  caseID: vars.incoming.case_id as String
  
  }]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	</mule>
