src/main/mule/put-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="put:\cases:application\json:covid-project-config">
        <logger level="INFO" doc:name="Logger" doc:id="fba02690-2ffc-4d8b-8d33-d0e3500b185e" message="logging the incoming payload #[payload]"/>
		<ee:transform doc:name="Prepare Covid Case Payload" doc:id="2737c08c-4344-4088-9741-f860d93d5d66" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="covidCasePayload" ><![CDATA[%dw 2.0
output application/java
---
{
	case_id: payload.caseId,
	source: payload.source,
	case_type: payload.caseType,
	first_name: payload.firstName,
	last_name: payload.lastName,
	phone: payload.phone,
	email: payload.email,
	date_of_birth: payload.dateOfBirth as String {
		format: "yyyy-MM-dd"
	},
	national_id: payload.nationalID,
	national_id_type: payload.nationalIDType,
	street_address: payload.address.streetAddress,
	city: payload.address.city,
	state: upper(payload.address.state),
	postal: payload.address.postal,
	country: payload.address.country,
	update_date: now() as String {
		format: "yyyy-MM-dd"
	},
	create_by: "UHIS",
	update_by: "UHIS"
}
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<idempotent-message-validator doc:name="Idempotent Message Validator" doc:id="b88d2fb8-e9d5-4250-8faa-db4caca6f05c" idExpression='#[vars.covidCasePayload pluck $ joinBy  ""]' />
		<flow-ref doc:name="update-covid-case-sub-flow" doc:id="4722758e-a66a-4aec-8901-e8280d533822" name="update-case-subflow" />
		<ee:transform doc:name="Set Success Response" doc:id="8c7010fc-2345-4914-86ef-c474527b72b4" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
if (payload.affectedRows > 0 ) {
	caseID: vars.covidCasePayload.case_id
} else {}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="264f2838-7ce3-49fb-8b42-ef01996f7ad3" type="MULE:DUPLICATE_MESSAGE">
				<set-variable value="#[400]" doc:name="Set HTTP Status - 400" doc:id="2277f258-63db-4866-8c97-65e600fcc1dc" variableName="httpStatus" />
				<set-variable value="Bad request" doc:name="set Error Message" doc:id="ef64418e-2a70-43e6-86f6-0d946d3b6d71" variableName="errorMessage" />
				<set-variable value='#["Duplicate request received"]' doc:name="Set Error Description" doc:id="c9f65cfc-c372-498e-b189-265b69b12647" variableName="errorDescription"/>
			</on-error-continue>
		</error-handler>
    
    </flow>
	</mule>
